.pp{
    color: aqua;
    text-decoration: none;
}
.boss{
    text-align: center;

}
.top{
    height: 100px;
    width: 100%;
    list-style: 50px;
}
.top  a{
    margin-left: 50px;
      
        text-decoration: none;
    }
 .imgss{
     height: 700px;
     width: 100%;
     background-image: url(../inmge/R-C.gif) ;   
    /* background-repeat: no-repeat; */
 }
.imgr{
    background-image: url('https://static.lufaxcdn.com/lufaxholding/pages/lufax/images/index_errand_1.d29f1660.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.zhoin{
    margin-top: 50px;
    height: 400px;
    width: 100%;
}
.zhoin .ll{
    float: left;
    height: 400px;
    width: 50%;

}
.zhoin .imgr{
    float: left;
    height: 400px;
    width: 50%;
}
.imgl{
    background-image: url('https://static.lufaxcdn.com/lufaxholding/pages/lufax/images/index_errand_2.ae5bbb52.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.zhoinr{
    margin-top: 50px;
    height: 400px;
    width: 100%;
}
.zhoinr .rr{
    float: left;
    height: 400px;
    width: 50%;

}
.zhoinr .imgl{
    float: left;
    height: 400px;
    width: 50%;
}

.botton{
    margin-top: 100px;
    height: 500px;
    background:#000000;
    width: 100%;
}
.botton div{
    float: left;
    margin-left: 20px;
}

